{% extends 'header.html' %}
{% load static %}
{% block content %}
<!DOCTYPE html>
<html lang="en">

<head>
</head>
<body class="main-layout ">
    <div class="brand">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="titlepage">
                        <h2>Our Products</h2>
                    </div>
                </div>
            </div>
        </div>
        <div class="brand-bg">
            <div class="container">
                <div class="row">
                    {% for i in products %}
                    <div class="col-xl-4 col-lg-4 col-md-4 col-sm-6 margin">
                        <div class="brand_box">
                            <img src="{{i.product_image.url}}" alt="img" />
                            <h3>Rs. <strong class="red">{{i.product_price}}</strong></h3>
                            <span>{{i.product_category}}</span>
                            <!-- {% if request.session.email %}
                                <a href=""><input type="button" value="Add To Wishlist" class="btn btn-primary"></a>
                                <a href=""><input type="button" value="Add To Cart" class="btn btn-primary"></a>
                            {% else %}
                                <a href="{% url 'login' %}"><input type="button" value="Login" class="btn btn-primary"></a>
                            {% endif %} -->
                            {% if request.session.email %}
                                <a href="{% url 'user_product_detail' pk=i.pk %}"><input type="button" value="Details" class="btn btn-primary"></a>
                            {% else %}
                                <a href="{% url 'login' %}"><input type="button" value="Login" class="btn btn-primary"></a>
                            {% endif %}
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>

    <!-- end brand -->
</body>
</html>
{% endblock %}